version: "3"

services:
  frontend:
    build: ./frontend
    container_name: nodejs_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: flask_backend
    ports:
      - "5000:5000"
  